*{
	margin: 0;
	padding: 0;
}

.skip-link{
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.6rem;
	padding-left: 1.2rem;
	color: #533738;
}

body{
	height: 100%;
	background-color: #E5E5E5; 
	max-width: 1440px;
}

html{
	font-size: 62.5%;
}

.header{
	background-image: none;
	background-image: url(fon_block1.png);
	background-size: cover;
	height: 715px;
}

.header__menu{
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	margin-right: 10rem;
	margin-left: 10rem;
}

.menu__nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 4.4rem;
}

.nav__item{
	display: inline-flex;
	justify-content: space-between;
}

.nav__link{
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.6rem;
	padding-left: 1.2rem;
	color: #533738;
}

.menu__logo{
	display: flex;
	margin-right: 1.5rem;
	text-decoration: none;
	list-style: none;
	height: 4.4rem;
	align-items: flex-end;
}

.logo__img{
	display: flex;
	width: 2.5rem;
	height: 2.5rem;
	left: 9.8rem;
	top: 3.6rem;
}

.logo__text{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.6rem;
	color: #533738;
}

.header__promo{
	margin-bottom: 16.8rem;
	margin-left: 18.5rem;
	margin-top: 13.6rem;
	display: flex;
	flex-direction: column;
}
.promo__heading{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 5rem;
	width: 61rem;
	color: #533738;
	text-transform: uppercase;
	padding-bottom: 2.5rem;
}

.promo__text{
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 1.8rem;
	width: 44rem;
	color: #533738;
	padding-bottom: 2.5rem;
}

.promo__button{
	background: #CC8B86;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 2rem;
	width: 25rem;
	padding: 2.2rem;
	color: #533738;
	cursor: pointer;
	outline: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	padding-top: 1.2rem;
	text-align: center;
}

.main__about{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	color: #533738;
}

.about__heading{
	display: flex;
	justify-content: center;
	padding: 1rem;
	font-size: 4rem;
	margin-top: 4rem;
	text-transform: uppercase;
}

.about__content{
	display: flex;
	justify-content: center;
	margin-left: 15rem;
	margin-right: 10rem;
}

.about__img{
	padding: 3rem;
	width: 44.4rem;
    height: 57.2rem;
}

.about__text{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	width: 52rem;
	padding: 3rem; 
}

.main__info{
	background: #8D7370;
	height: 27.3rem;
}

.info{
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.info__text{
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.7rem;
	text-transform: uppercase;
}

.info__number{
	font-weight: normal;
	font-size: 5rem;
	line-height: 6.2rem;
}

.info__common{
	display: inline;
	padding: 8rem;
	display: flex;
	justify-content: space-between;
	margin-left: 12rem;
	margin-right: 10rem;
}

.info__el{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
}

.main__gallery{
	margin-left: 10rem;
	margin-right: 10rem;
}

.gallery__block{
	display: flex;
}

.gallery__photo {
	margin-bottom: 2rem;
	margin-right: 2rem;
}

.gallery__heading{
	color: #533738;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	margin-top: 5.5rem;
	margin-bottom: 3rem;
}

.gallery__restangle{
	width: 50rem;
	height: 48.8rem;
	background: rgba(100, 72, 69, 0.7);
	margin-bottom: 2rem;
	margin-right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.gallery__text{
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.7rem;
	color: #533738;
	padding-right: 1rem;
}

.gallery__content{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 1.5rem; 
	cursor: pointer;
	margin-bottom: 5.5rem;
}

.gallery__line {
    position: relative;
    top: 1rem;
    width: 6rem;
    height: 0.2rem;
    background-color: #533738;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    display: block;
}
.gallery__line::after {
    content: '';
    position: absolute;
    width: 2.8rem;
    height: 0.2rem;
    top: -1.1rem;
    right: -0.6rem;
    background-color: #533738;
    transform: rotate(45deg);
}
.gallery__line::before {
    content: '';
    position: absolute;
    width: 2.8rem;
    height: 0.2rem;
    top: 1.1rem;
    right: -0.6rem;
    background-color: #533738;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.main__team{
	background-color: #E2C4BA;
	height: 61.8rem;
	padding-left: 18rem;
	padding-right: 18rem; 
}

.team__heading{
	text-transform: uppercase;
	color: #533738;
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	display: flex;
	justify-content: center;
	padding-top: 5rem; 
}

.team__wrapper{
	display: flex;
	padding-top: 4rem;
}

.team__wrapper__block {
	 margin-left: 2rem;
	 margin-bottom: 0.7rem;
}

.team__text{
	font-family: Montserrat, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #533738;
}

.team__work{
	background-color: #E2C4BA;
	height: 36rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

.work__heading{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	text-transform: uppercase;
	color: #533738;
	display: flex;
	justify-content: center;
	padding: 3.5rem;
}

.work__wrapper{
	display: flex;
	justify-content: space-between;
}

.work__element{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.work__text{
	color: #533738;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	text-align: center;
	padding: 1rem;
	width: 27rem;
}

.work__text__round{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3rem;
	color: #FFFFFF;
}

.work__round{
	width: 7rem;
    height: 7rem;
    border: 0.2rem solid #8D7370;
    border-radius: 50%;
    line-height: 10em;  
    background: #8D7370;
    display: flex;
	justify-content: center;
	align-items: center;
}

.main__reviews{
	margin-left: 15rem;
	margin-right: 15rem;
}

.reviews__heading{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	display: flex;
	justify-content: center;
	padding: 4rem;
	padding-top: 3rem;
	text-transform: uppercase;
	color: #533738;
}

.reviews__wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}

.reviews__text{
	color: #533738;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	width: 40.7rem;
}

.author{
	font-size: 1.8rem;
	line-height: 3rem;
	text-transform: uppercase;
	margin-top: 2rem;
}

.reviews__wrapper__text{
	padding-right: 2rem;
	padding-left: 3rem;
}

.reviews__wrapper__img{
	display: flex;
	flex-direction: column;
	padding-right: 3rem;
}

.reviews__img{
	padding-bottom: 1rem;
}

.reviews__round{
	width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    line-height: 10em;  
    display: flex;
	justify-content: center;
	align-items: center;
	background: #CC8B86;
	color: #F5F2ED;
	font-size: 2.5rem;
}

.round__text{
	color: #F5F2ED;
	font-size: 2.5rem;
}

button{
    outline: none;
    border: 0;
    cursor: pointer;
}

.main__connection{
	background: #8D7370;

}

.connection__heading{
	color: white;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 4rem;
	line-height: 5rem;
	text-transform: uppercase;
	padding-top: 5rem;
	padding-bottom: 2.4rem;
}

.connection__wrapper{
	margin-left: 18rem;
	display: flex;
	margin-right: 10rem;
}

.connection__text{
	opacity: 0.6;
	color: #FFFFFF;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	width: 50.7rem;
	padding-bottom: 4rem;
}

.button{
	background: #CC8B86;
	padding: 3rem 6.7rem 3.6rem 6.7rem;
	color: #533738;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	margin-top: 3rem;
	outline:0;
	border: 0;
}

.form-row input {
    width: 50.8rem;
    margin: 2rem;
    font-family: Montserrat, sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 0.1rem solid #FFFFFF;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
}

.form-row input::placeholder {
	color: white;
}

.form-row label {
    color: #F6EDE9;
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	transform: translateY(-3.5rem);
    transition: all 0.2s ease;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*:focus {outline: none;}

.footer{
	background-color: #E5E5E5;
	margin-left: 10rem;
	margin-top: 3.7rem; 
	margin-right: 10rem;
	margin-bottom: 3.7rem;
}

.footer__text{
	color: #533738;
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	text-decoration: none;
	margin-left: 3rem;
}

.text{
	margin-left: auto;
	margin-right: 0;
}

.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.restangle__title{
	width: 27rem;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 3rem;
	line-height: 3.7rem;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 2rem;

}

.restangle__text{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #FFFFFF;
	width: 41.8rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.form__karta{
	display: flex;
}

.big__text:hover{
	font-size: 4.7rem;
	line-height: 4.5rem;
	z-index: 100;
}